<div class="container ">
    <div class="row justify-content-between ">

        <div class="col-md-2 p-0">
            <button class="fa-2x fa-solid fa-table-cells" style="width: 50px;height: 50px;" (click)="ShowProductByGrid()"></button>
            <button  style="width: 50px;height: 50px;" (click)="ShowProductByRow()">
                <img src="../../../../assets/images/4196762.png" alt="" width="30px" height="30px">
            </button>

        </div>


        <div class="col-md-3 p-0 ">
            <div>
                Sắp xếp:
                <select id = 'mySelect' style="border: none; font-weight: bold" (change)="SortProducts($event)">
                    <option disabled selected></option>
                    <option value="increasing">Giá tăng</option>
                    <option value="decreasing">Giá giảm</option>
                    <option value="alphabet">A-Z</option>
                </select>
            </div>
        </div>

    </div>


    <div class="row border border-black">
        <ng-container *ngFor="let product of products | filterProducts :productSearching">
            <ng-container *ngIf="gridShow; else elseBlock">
                <app-product-item class="col-xxl-3 col-xl-4 col-md-6 col-sm-6 col-12 mb-5 " [product]="product"></app-product-item>
            </ng-container>
            <ng-template #elseBlock>
                <app-product-item-row class="row" [product]="product"></app-product-item-row>
            </ng-template>
        </ng-container>
    </div>
</div>