<div class="card" style="width: 14rem;">
    <img src="../../../../../assets/images/4196762.png" class="card-img-top" alt="...">
    <div class="card-body">
        <div class="card-title text-truncate">
            {{product.tenSanPham}}
        </div>
        <h4 class="card-title text-truncate">
            {{product.giaSanPham | currency : "VND"}}
        </h4>
        <p class="card-text"></p>

        
        <!-- relative path sẽ nối routerlink vào đường dẫn đang đứng trước đó -->
        <a routerLink="product-details/{{product.maSanPham}}" class="btn btn-primary">Đặt hàng</a>
    </div>
</div>