<div class="card" style="width: 14rem;">
    <div class="card-img-wrapper">
        <img src="../../../../../assets/images/4196762.png" class="card-img-top" alt="...">
    </div>
    <div class="card-body">
        <div class="card-title text-truncate">
            {{product.tensanpham}}
        </div>
        <h4 class="card-title text-truncate">
            {{product.giasanpham | currency : "VND"}}
        </h4>
        <p class="card-text"></p>

        
        <a routerLink="product-details/{{product.masanpham}}" class="btn btn-primary">Xem chi tiết</a>
    </div>
</div>
