<div class="container">
    <div class="row">
        <div class="col-sm-4">
            <ul class="list-group">
                <li class="list-group-item active" aria-current="true">Các mục quản lý</li>
                <a routerLink="qlsanpham" class="text-decoration-none list-group-item list-group-item-action">Quản lý
                    sản phẩm</a>

                <a routerLink="qlnhanvien" class="text-decoration-none list-group-item list-group-item-action">Quản lý
                    nhân viên</a>

                <a routerLink="qlkhachhang" class="text-decoration-none list-group-item list-group-item-action">Quản lý
                    khách hàng</a>

                <a routerLink="qldonhang" class="text-decoration-none list-group-item list-group-item-action">Quản lý
                    đơn hàng</a>

                <a routerLink="tinnhan" class="text-decoration-none list-group-item list-group-item-action ">Các thắc
                    mắc khiếu nại {{thacMacKhieuNaisCount}}</a>
            </ul>
        </div>

        <div class="col-sm-8">
            <router-outlet></router-outlet>
        </div>

    </div>
</div>