<div class="row row-cols-1 row-cols-sm-2 row-cols-md-5 py-5 my-5 border-top d-flex justify-content-center">
    <div class="col mb-3">
        <h5>HỆ THỐNG CỬA HÀNG</h5>
        <div class="accordion accordion-flush" id="accordionFlushExample">
            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button collapsed text-primary" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                        <i class="fa-solid fa-location-dot me-2"></i>Hà Nội
                    </button>
                </h2>
                <div id="flush-collapseOne" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body">
                        <p><i class="fa-solid fa-star me-1"></i><strong>Hà Nội: </strong> tầng số 2, sô 9 Vũ Phạm Hàm, Cầu Giấy</p>
                        <p><i class="fa-solid fa-star me-1"></i>Mở cửa: 9h - 21h (từ thứ 2 - 7)</p>
                        <p><i class="fa-solid fa-star me-1"></i>Mở cửa: 9h - 18h (ngày Chủ nhật)</p>
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button collapsed text-primary" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                        <i class="fa-solid fa-location-dot me-2"></i>Hồ Chí Minh
                    </button>
                </h2>
                <div id="flush-collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body">
                        <p><i class="fa-solid fa-star me-1"></i><strong>TP HCM: </strong>43/4 Thành Thái, Q.10</p>
                        <p><i class="fa-solid fa-star me-1"></i>Mở cửa: 9h - 21h (từ thứ 2 - 7)</p>
                        <p><i class="fa-solid fa-star me-1"></i>Mở cửa: 9h - 18h (ngày Chủ nhật)</p>
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button collapsed text-primary" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
                        <i class="fa-solid fa-location-dot me-2"></i>Đà Nẵng
                    </button>
                </h2>
                <div id="flush-collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body">
                        <p><i class="fa-solid fa-star me-1"></i><strong>TP Đà Nẵng: </strong>990 Ngô Quyền, quận Sơn Trà</p>
                        <p><i class="fa-solid fa-star me-1"></i>Mở cửa: 9h - 18h</p>
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button collapsed text-primary" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFour" aria-expanded="false" aria-controls="flush-collapseFour">
                        <i class="fa-solid fa-location-dot me-2"></i>Hải Phòng
                    </button>
                </h2>
                <div id="flush-collapseFour" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body">
                        <p><i class="fa-solid fa-star me-1"></i><strong>TP Hải Phòng: </strong> 58 Lương Khánh Thiện, Ngô Quyền</p>
                        <p><i class="fa-solid fa-star me-1"></i>Mở cửa: 9h - 18h</p>
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button collapsed text-primary" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFive" aria-expanded="false" aria-controls="flush-collapseFive">
                        <i class="fa-solid fa-location-dot me-2"></i>Nghệ An
                    </button>
                </h2>
                <div id="flush-collapseFive" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body">
                        <p><i class="fa-solid fa-star me-1"></i><strong>TP Vinh, Nghệ An: </strong>124 Đinh Công Tráng, Lê Mao</p>
                        <p><i class="fa-solid fa-star me-1"></i>Mở cửa: 9h - 18h</p>
                    </div>
                </div>
            </div>
        </div>
        <div>
            <h5>LIÊN HỆ NHANH</h5>
            <p>Hotline bán hàng: <strong>0834.82.1988</strong></p>
            <p>Hotline kỹ thuật: <strong>088.9393.555</strong></p>
            <p>Email CSKH: <strong>kinhdoanh@store.vn</strong></p>
        </div>
    </div>

    <div class="col mb-3">
        <h5>VỀ CỬA HÀNG LAPTOP STORE</h5>
        <ul class="nav flex-column">
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Giới thiệu</a></li>
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Thông tin tuyển dụng</a></li>
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Liện hệ</a></li>
        </ul>
        <h5>TIN TỨC</h5>
        <ul class="nav flex-column">
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Tin công nghệ</a></li>
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Tin khuyến mãi</a></li>
        </ul>
    </div>

    <div class="col mb-3">
        <h5>CHĂM SÓC KHÁCH HÀNG</h5>
        <ul class="nav flex-column">
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Chính sách bảo hành</a></li>
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Chính sách giao hàng</a></li>
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Chính sách thanh toán</a></li>
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Hướng dẫn mua hàng trả góp</a></li>
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Chính sách bảo mật</a></li>
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Hướng dẫn mua hàng Online</a></li>
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Hướng dẫn mua trả góp</a></li>
        </ul>
    </div>

    <div class="col mb-3">
        <h5>KẾT NỐI VỚI CHÚNG TÔI</h5>
        <ul class="nav flex-column">
            <li class="nav-item mb-2"><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/b/b9/2023_Facebook_icon.svg/2048px-2023_Facebook_icon.svg.png" alt="" style="width: 30px; height: 30px"><a href="#" class="nav-link p-0 text-body-secondary">Facebook</a></li>
            <li class="nav-item mb-2"><img src="https://www.iconpacks.net/icons/2/free-youtube-logo-icon-2431-thumb.png" alt="" style="width: 30px; height: 30px"><a href="#" class="nav-link p-0 text-body-secondary">Youtube</a></li>
            <li class="nav-item mb-2"><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/91/Icon_of_Zalo.svg/1200px-Icon_of_Zalo.svg.png" alt="" style="width: 30px; height: 30px"><a href="#" class="nav-link p-0 text-body-secondary">Zalo</a></li>
        </ul>
        <h5 class="mt-2">PHƯƠNG THỨC THANH TOÁN</h5>
        <img decoding="async" class="alignnone size-full wp-image-8318 lazyloaded" src="https://surfaceviet.vn/wp-content/uploads/2020/08/payment-methob.png" alt="" width="220" height="69" data-ll-status="loaded">
    </div>
</div>