<div class="container">
    <div class="row">
        <div class="col-sm-3">
            <ul class="list-group">
                <li class="list-group-item active" aria-current="true">An active item</li>
                <li class="hover list-group-item" (click)="SelectTaiKhoan()">Tải khoản của tôi</li>
                <li class="hover list-group-item" (click)="SelectCacDonDatHang()">Đơn mua</li>

            </ul>
        </div>
        <div class="col-sm-5 offset-sm-2" *ngIf="hoso">
            <h1>Hồ sơ của tôi</h1>
            <form class="form-group" (ngSubmit)="SuaThongTin()" autocomplete="off">
                <label class="form-label">Họ và tên</label>
                <input class="form-control" name="hoten" value="{{user.hoten}}" [(ngModel)]="user.hoten">

                <label class="form-label">Tuổi</label>
                <input class="form-control " type="number" name="tuoi" value="{{user.tuoi}}" [(ngModel)]="user.tuoi">

                <label class="form-label">Giới tính</label>
                <select class="form-select" name="gioitinh" [(ngModel)]="user.gioitinh">
                    <option value="0">Nam</option>
                    <option value="1">Nữ</option>
                </select>

                <label class="form-label">SĐT</label>
                <input class="form-control" name="sdt" value="{{user.sdt}}" [(ngModel)]="user.sdt">

                <label class="form-label">Địa chỉ</label>
                <input class="form-control " name="diachi" value="{{user.diachi}}" [(ngModel)]="user.diachi">

                <label class="form-label">Email</label>
                <input class="form-control " name="email" value="{{user.email}}" [(ngModel)]="user.email">

                <button type="submit" class="btn btn-primary mt-3">
                    Sửa thông tin
                </button>
            </form>
        </div>

        <div class="col-sm-9" *ngIf="!hoso">
            <h3 class="text-center">Các đơn hàng của tôi</h3>
            <div class="row" *ngFor="let donhang of donHangs">
                <div class="col-sm-12">
                    <button class="btn btn-info" type="button" data-bs-toggle="collapse"
                        [attr.data-bs-target]="'#' + donhang.maDatHang" aria-expanded="false" 
                        [attr.aria-controls]="donhang.maDatHang">
                        Đơn hàng ngày {{donhang.ngayDatHang | date :'dd-MM-yyyy  HH:mm:ss'}}
                    </button>
                    <div class="panel-group">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                </h4>
                            </div>
                                <div id={{donhang.maDatHang}} class="panel-collapse collapse">
                                    <ul class="list-group">
                                        <li class="list-group-item" *ngFor="let sanpham of donhang.datHangSanPhams;let i = index">
                                            <div class="row d-flex align-items-center">
                                                <div class="col-sm-1">
                                                    <div>{{i + 1}}</div>
                                                    
                                                </div>

                                                <div class="col-sm-2">
                                                    <div>
                                                        <img src="{{sanpham.maSanPhamNavigation.hinhanhsanpham}}" width="50" height="50">
                                                    </div>
                                                </div>

                                                <div class="col-sm-4">
                                                    <a class="text-decoration-none" routerLink="../productView/product-details/{{sanpham.maSanPham}}">
                                                        {{sanpham.maSanPhamNavigation.tensanpham}}
                                                    </a>
                                                </div>

                                                <div class="col-sm-1">
                                                    <div>
                                                        {{sanpham.soLuong}}
                                                    </div>
                                                </div>

                                                <div class="col-sm-2">
                                                    <div>
                                                        {{sanpham.giaTien | currency:'VND'}}
                                                    </div>
                                                </div>

                                                <div class="col-sm-2">
                                                    <div>
                                                        {{sanpham.giaTien * sanpham.soLuong| currency:'VND'}}
                                                    </div>
                                                </div>
                                            </div>

                                        </li>
                                    </ul>
                                    <div class="panel-footer bg-light mb-3">
                                        <div class="row">
                                            <div class="col-sm-3 text-start">
                                                {{state}}
                                            </div>
                                            <div class="col-sm-6 text-end">
                                                <div>Tổng tiền: </div>
                                            </div>
                                            <div class="col-sm-3 text-center">
                                                <div>
                                                    {{ CaculateTongDonhang(donhang.datHangSanPhams ) | currency:'VND' }}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>